**/.idea
**/target
**/.gradle
**/out
**/*.iml
**/dependency-reduced-pom.xml
**/*.pyc
/dist/
**/.prefs
**/.settings
**/.factorypath
**/.classpath
**/.project
.vscode/
*.env
.envrc
.github/copilot-instructions.md